// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (max-width: 600px) {
  .welcome {
    width: 500%;
   
    }
  }
  * {
    text-align: center;
  }
  .logo {
    height: 2em;
    background-color: #4285f4;
    color: white;
  }
  img {
  padding-top: 2em;
  }

  background-image: url('https://cdn.hipwallpaper.com/i/84/68/G46xbX.jpg')
}
